{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1,
        "VariableDeclarator": 1,
        "outerIIFEBody": 1
      }
    ],
    "max-len": [
      1,
      160,
      2, {
        "ignoreComments": true
      }
    ],
    "no-underscore-dangle": 0,
    "security/detect-unsafe-regex": 2,
    "security/detect-buffer-noassert": 2,
    "security/detect-child-process": 2,
    "security/detect-disable-mustache-escape": 2,
    "security/detect-eval-with-expression": 2,
    "security/detect-no-csrf-before-method-override": 2,
    "security/detect-non-literal-fs-filename": 2,
    "security/detect-non-literal-regexp": 2,
    "security/detect-non-literal-require": 2,
    "security/detect-object-injection": 0,
    "security/detect-possible-timing-attacks": 2,
    "security/detect-pseudoRandomBytes": 2,
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": [
          "**/test/**"
        ]
      }
    ]
  },
  "plugins": [
    "security"
  ]
}