# Dont store hidden files and directories by default
.*

# Exceptions
!.gitkeep
!.gitignore
!.gitattributes
!.travis.yml
!.babelrc
!.eslintrc
!.eslintignore
!.editorconfig
!.npmignore

# Generated directories
coverage
dist
node_modules
bower_components

# Other potentionally conflicting files
*.db
*.env
~*
*.tmp
*.log
npm-debug.log*
yarn.lock
