# Dont store hidden files and directories by default
.*

# Exceptions
!.babelrc*
!.env.example
!.eslintrc*
!.eslintignore
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.npmignore
!.prettierignore
!.prettierrc
!.travis.yml
!.circleci
!.gitlab-ci.yml
!.dependabot
!.github

# Generated directories
build
coverage
dist
node_modules

# Other potentionally conflicting files
*.db
*.env
~*
*.tmp
*.log
npm-debug.log*
yarn.lock
